<div class="container-fluid p-4">

  <!-- HEADER -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <h2>{{ isAdmin() ? 'Admin Dashboard' : 'My Tasks' }}</h2>
    </div>

    <div>
      Welcome, <strong>{{ getUserName() }}</strong>
      <span class="badge bg-dark ms-2 text-uppercase">
        {{ currentUser?.role }}
      </span>

      <button class="btn btn-outline-danger btn-sm ms-3" (click)="logout()">
        Logout
      </button>
    </div>
  </div>

  <!-- FILTER -->
  <div class="card shadow-sm mb-4 p-3">
    <div class="row">
      <div class="col-md-3 mb-2">
        <label>Search by Title</label>
        <input
          type="text"
          class="form-control"
          placeholder="Please enter a Task Name"
          [(ngModel)]="searchText"
        />
      </div>

      <div class="col-md-3 mb-2">
        <label>Filter by Task Status</label>
        <select class="form-select" [(ngModel)]="selectedStatus">
          <option value="All">All</option>
          <option value="Pending">Pending</option>
          <option value="In Progress">In Progress</option>
          <option value="Completed">Completed</option>
        </select>
      </div>

      <div class="col-md-3 mb-2">
        <label>Filter by Task Priority</label>
        <select class="form-select" [(ngModel)]="selectedPriority">
          <option value="All">All</option>
          <option value="low">Low</option>
          <option value="medium">Medium</option>
          <option value="high">High</option>
        </select>
      </div>
    
    </div>
  </div>

  <!-- Admin Panel - Team Tasks -->
  <div *ngIf="isAdmin()">

    <h4 class="mb-3"><i class="bi bi-people"></i> Team Tasks</h4>
    <div class="row g-4">
      <ng-container *ngFor="let task of paginatedTeamTasks | taskFilter:searchText:selectedStatus:selectedPriority">

        <div class="col-md-4" *ngIf="!canModify(task)">
          <div class="card task-card h-100">
            <div class="card-body">

              <h5 class="fw-bold">{{ task.title | titlecase}}</h5>
              <p class="text-muted small">Description: {{ task.description?.trim() || 'No description added' }}</p>

              <!-- STATUS -->
              <span class="badge me-2"
                [ngClass]="{
                  'bg-success': task.status === 'Completed',
                  'bg-warning': task.status === 'Pending',
                  'bg-info': task.status === 'In Progress'
                }">
                {{ task.status }}
              </span>

              <!-- PRIORITY -->
              <span class="badge"
                [ngClass]="{
                  'bg-danger': task.priority?.toLowerCase() === 'high',
                  'bg-primary': task.priority?.toLowerCase() === 'medium',
                  'bg-secondary': task.priority?.toLowerCase() === 'low'
                }">
                {{ task.priority | uppercase }}
              </span>

              <div class="small text-muted mt-2">
                Assigned to: {{ task.assignedToName }}
              </div>

              <div class="text-muted small mt-2">
                Assigned By: {{task.createdByName}}
                <span *ngIf="task.createdBy === currentUser.uid" class="fw-semibold text-dark">
                  <i class="bi bi-person-check text-primary"></i> Admin
                </span>
              </div>

              <!-- DUE DATE -->
              <div *ngIf="task.dueDate" class="small text-muted mt-2">
                <i class="bi bi-calendar"></i> Due Date: {{ task.dueDate | date }}
              </div>

              <!-- OVERDUE -->
              <div *ngIf="isOverdue(task)" class="text-danger small">
                <i class="bi bi-exclamation-circle me-1"></i> Overdue
              </div>

              <div class="small text-muted mt-2">
                 Created At: {{ formatDate(task.createdAt) | date:'medium' }}
              </div>

              <div class="small text-muted mt-2">
                 Updated At: {{ formatDate(task.updatedAt) | date:'medium' }}
              </div>

            </div>
          </div>
        </div>
      </ng-container>

      <!-- PAGINATION -->
      <nav  class="mt-4 d-flex justify-content-end" *ngIf="teamTotalPages > 1">
        <ul class="pagination">

          <li class="page-item" [class.disabled]="teamCurrentPage === 1">
            <a class="page-link" (click)="goToTeamPage(teamCurrentPage - 1)">Prev</a>
          </li>

          <li class="page-item"
              *ngFor="let page of [].constructor(teamTotalPages); let i = index"
              [class.active]="teamCurrentPage === i + 1">

            <a class="page-link" (click)="goToTeamPage(i + 1)">
              {{ i + 1 }}
            </a>
          </li>

          <li class="page-item" [class.disabled]="teamCurrentPage === teamTotalPages">
            <a class="page-link" (click)="goToTeamPage(teamCurrentPage + 1)">Next</a>
          </li>

        </ul>
      </nav>


      <div *ngIf="paginatedTeamTasks.length === 0"
          class="text-center text-muted mt-4">
        <i class="bi bi-inbox fs-3"></i>
        <p class="mt-2">No team tasks available</p>
      </div>

    </div>
  </div>

  <!-- Employee Panel - My Tasks -->
  <h4 class="mt-5 mb-3"><i class="bi bi-list-check"></i> My Tasks</h4>

  <div class="row g-4">

    <ng-container *ngFor="let task of paginatedMyTasks | taskFilter:searchText:selectedStatus:selectedPriority">

      <div class="col-md-4" *ngIf="canModify(task)">

        <div class="card task-card my-task h-100">

          <div class="card-body">

            <!-- NORMAL VIEW -->
            <div *ngIf="editingTaskId !== task.id">

              <h5 class="fw-bold">{{ task.title | titlecase}}</h5>
              <p class="text-muted small">Description: {{ task.description?.trim() || 'No description added' }}</p>

              <!-- STATUS -->
              <span class="badge me-2"
                [ngClass]="{
                  'bg-success': task.status === 'Completed',
                  'bg-warning': task.status === 'Pending',
                  'bg-info': task.status === 'In Progress'
                }">
                {{ task.status }}
              </span>

              <!-- PRIORITY -->
              <span class="badge"
                [ngClass]="{
                  'bg-danger': task.priority?.toLowerCase() === 'high',
                  'bg-primary': task.priority?.toLowerCase() === 'medium',
                  'bg-secondary': task.priority?.toLowerCase() === 'low'
                }">
                {{ task.priority | uppercase }}
              </span>

              <div class="text-muted small mt-2" *ngIf="!isAdmin()">
                Assigned By:
                {{task.createdByName}}
                <span *ngIf="task.createdBy !== currentUser.uid" class="fw-semibold text-dark">
                  <i class="bi bi-person-check text-primary"></i> Admin
                </span>
              </div>

              <div *ngIf="task.dueDate" class="small text-muted mt-2">
                <i class="bi bi-calendar"></i> Due Date: {{ task.dueDate | date }}
              </div>

              <div *ngIf="isOverdue(task)" class="badge bg-danger-subtle text-danger small mt-1">
                <i class="bi bi-exclamation-triangle-fill me-1"></i>
                {{ getOverdueText(task) }}
              </div>

              <div class="small text-muted mt-2">
                 Created At: {{ formatDate(task.createdAt) | date:'medium' }}
              </div>

              <div class="small text-muted mt-2">
                 Updated At: {{ formatDate(task.updatedAt) | date:'medium' }}
              </div>

              <!-- ACTIONS -->
              <div class="mt-3">
                <button class="btn btn-outline-primary btn-sm me-2"
                        (click)="editTask(task.id)">
                  Edit
                </button>

                <button class="btn btn-outline-danger btn-sm"
                        (click)="deleteTask(task.id)">
                  Delete
                </button>
              </div>

            </div>

            <!-- EDIT VIEW -->
           <div *ngIf="editingTaskId === task.id">

            <input class="form-control mb-2" [(ngModel)]="editTaskCopy.title" />
            <input class="form-control mb-2" [(ngModel)]="editTaskCopy.description" />

            <select class="form-select mb-2" [(ngModel)]="editTaskCopy.status">
              <option>Pending</option>
              <option>In Progress</option>
              <option>Completed</option>
            </select>

            <select class="form-select mb-2" [(ngModel)]="editTaskCopy.priority">
              <option value="low">Low</option>
              <option value="medium">Medium</option>
              <option value="high">High</option>
            </select>

            <input type="date" class="form-control mb-2" [(ngModel)]="editTaskCopy.dueDate" />

            <button class="btn btn-success btn-sm"
                    (click)="saveTask()">
              Save
            </button>

            <button class="btn btn-secondary btn-sm ms-2"
                    (click)="cancelEdit()">
              Cancel
            </button>

          </div>


          </div>


        </div>

      </div>

    </ng-container>

    <!--Pagination-->
    <nav  class="mt-4 d-flex justify-content-end" *ngIf="myTotalPages > 1">
      <ul class="pagination">

        <li class="page-item" [class.disabled]="myCurrentPage === 1">
          <a class="page-link" (click)="goToMyPage(myCurrentPage - 1)">Prev</a>
        </li>

        <li class="page-item"
            *ngFor="let page of [].constructor(myTotalPages); let i = index"
            [class.active]="myCurrentPage === i + 1">

          <a class="page-link" (click)="goToMyPage(i + 1)">
            {{ i + 1 }}
          </a>
        </li>

        <li class="page-item" [class.disabled]="myCurrentPage === myTotalPages">
          <a class="page-link" (click)="goToMyPage(myCurrentPage + 1)">Next</a>
        </li>

      </ul>
    </nav>


    <div *ngIf="paginatedMyTasks.length === 0"
        class="text-center text-muted mt-4">
      <i class="bi bi-check2-circle fs-3"></i>
      <p class="mt-2">You don’t have any assigned tasks</p>
    </div>

  </div>

  <!--ADD TASK-->
  <div class="card shadow-sm mt-5">
    <div class="card-body">

      <h5 class="mb-3"><i class="bi bi-plus-square"></i> Add Task</h5>

      <div class="row g-3">

        <div class="col-md-3">
          <label>Title</label>
          <input class="form-control"
                 placeholder="Please enter a title"
                 [(ngModel)]="newTask.title" />
        </div>

        <div class="col-md-3">
          <label>Description</label>
          <input class="form-control"
                 placeholder="Please enter a description"
                 [(ngModel)]="newTask.description" />
        </div>

        <div class="col-md-2">
          <label>Status</label>
          <select class="form-select" [(ngModel)]="newTask.status">
            <option>Pending</option>
            <option>In Progress</option>
            <option>Completed</option>
          </select>
        </div>

        <div class="col-md-2">
          <label>Priority</label>
          <select class="form-select" [(ngModel)]="newTask.priority">
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
          </select>
        </div>

        <div class="col-md-2">
          <label>Due Date</label>
          <input type="date"
                 class="form-control"
                 [(ngModel)]="newTask.dueDate" />
        </div>

        <div class="col-md-2" *ngIf="isAdmin()">
          <label class="form-label">Assign To</label>
          <select class="form-select"
                  [(ngModel)]="selectedAssigneeId">
            <option *ngFor="let user of teamMembers" [value]="user.uid">
              {{ user.username }}
            </option>
          </select>
        </div>

      </div>

      <button class="btn btn-primary mt-4" (click)="addTask()">
        Add Task
      </button>

    </div>
  </div>

</div>
