<div class="container">

<div class="navbar">
  <h2>Task Dashboard</h2>

  <div class="user-section">
    <span>Welcome, {{ currentName }}</span>
    <button (click)="logout()">Logout</button>
  </div>
</div>


<div class="summary-container">
  <div class="card">
    <h3>Total Tasks</h3>
    <p>{{ getTotalTasks() }}</p>
  </div>

  <div class="card">
    <h3>Completed</h3>
    <p>{{ getCompletedTasks() }}</p>
  </div>

  <div class="card">
    <h3>Pending</h3>
    <p>{{ getPendingTasks() }}</p>
  </div>

    <div class="card">
    <h3>In Progress</h3>
    <p>{{ getInProgressTasks() }}</p>
  </div>
</div>

<div class="filter-container">

  <input
    type="text"
    placeholder="Search tasks..."
    [(ngModel)]="searchText"
  />

  <select id="statusFilter" [(ngModel)]="selectedStatus">
    <option value="All">All</option>
    <option value="Pending">Pending</option>
    <option value="In Progress">In Progress</option>
    <option value="Completed">Completed</option>
  </select>

</div>

<!-- Task List -->
<div *ngFor="let task of getFilteredTasks()" class="task-card">

  <div *ngIf="editingTaskId !== task.id">
    <h3>{{ task.title }}</h3>
    <p>{{ task.description }}</p>
    <span [ngClass]="getStatusClass(task.status)">
      {{ task.status }}
    </span>

    <button (click)="editTask(task.id)">Edit</button>
    <button (click)="deleteTask(task.id)">Delete</button>
  </div>

  <div *ngIf="editingTaskId === task.id">
    <input [(ngModel)]="task.title" />
    <input [(ngModel)]="task.description" />

    <select [(ngModel)]="task.status">
      <option>Pending</option>
      <option>In Progress</option>
      <option>Completed</option>
    </select>

    <button (click)="saveTask(task)" >Save</button>
  </div>

</div>

<div class="form-container">

  <input
    type="text"
    placeholder="Task Title"
    [(ngModel)]="newTask.title"
  />

  <input
    type="text"
    placeholder="Task Description"
    [(ngModel)]="newTask.description"
  />

  <select [(ngModel)]="newTask.status">
    <option value="Pending">Pending</option>
    <option value="In Progress">In Progress</option>
    <option value="Completed">Completed</option>
  </select>

  <button (click)="addTask()">Add Task</button>

</div>
</div>
